body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('https://png.pngtree.com/thumb_back/fw800/back_pic/04/48/87/75585a8f018e6dc.jpg');
  background-repeat:no-repeat;

   background-size:cover;
}

a {
  color: #00B7FF;
}
.student-index {
  font-size: 20px;
}